<div class="crumb-wrap">
    <div class="crumb-list"><i class="icon-font"></i>
        <a href="index.html">首页</a>
        <span class="crumb-step">&gt;
            </span><a class="crumb-name" href="http://dzhao.wywwwxm.com/thinkphp/public/index.php/admin/oauth/show">联系我们</a><span class="crumb-step">&gt;
            </span><span>回复客户问题</span></div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <form action="http://dzhao.wywwwxm.com/thinkphp/public/index.php/admin/oauth/doresponseMsg" method="post" id="myform" name="myform" enctype="application/x-www-form-urlencoded">
            <table class="insert-tab" width="100%">
                <tbody>
                <tr>
                    <th><i class="require-red">*</i>解决方案：</th>
                    <td>
                        <textarea name="info" id="info" cols="100" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input  value="回复" type="submit">
                        <input  onclick="history.go(-1)" value="返回" type="button">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>



