
<!--/sidebar-->


<div class="crumb-wrap">
    <div class="crumb-list"><i class="icon-font"></i><a href="http://dzhao.wywwwxm.com/thinkphp/public/index.php//admin/index/index">首页</a><span class="crumb-step">&gt;
    </span><span class="crumb-name">粉丝管理</span></div>
</div>

<div class="result-wrap">
    <form name="myform" id="myform" method="post">
        <div class="result-title">
            <div class="result-list">
                <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
            </div>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>
                    <th>用户名</th>
                    <th>微信号</th>
                    <th>城市</th>
                    <th>操作</th>
                </tr>
                {volist name="pages" id="vo"}
                <tr>
                    <td>
                        {$vo.nickname}
                    </td>
                    <td>
                        {$vo.openid}
                    </td>
                    <td>
                        {$vo.city}
                    </td>
                    <td>
                        <a href="http://dzhao.wywwwxm.com/thinkphp/public/index.php/admin/user/black/id/{$vo.id}">拉黑</a>
                        <a href="http://dzhao.wywwwxm.com/thinkphp/public/index.php/admin/user/moveblack/id/{$vo.id}">移除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            <!--显示分页码-->
            <nav aria-label="Page navigation">{$pages->render()}</nav>
        </div>
    </form>
</div>

<!--/main-->
